# Cache and Config
.vscode

# terraform
**.terraform/
**.terraform.lock.hcl
**.terraform.tfvars
**.tfstate.lock.info
**.tfstate.d/
**.tfstate
**.tfstate.backup

# logs
**.log

# misc
.DS_Store
.history
**.csv

# Terragrunt
.terragrunt-cache